VITE_SUPABASE_URL=https://kkwiyaczifckvnnxcjko.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_-xhiMVuiGjqeV5mrlBNXaQ_eBm-5HLH
VITE_TASK_APP_URL=https://taskgiaoviec.vercel.app/desktop/san-pham
